* {
    margin: 0;
    padding: 0;
}


#playArea {
	position: relative;
    margin-top: 10px;
    margin-left: 10px;
    width: 800px;
    height: 560px;
    background: #7FFFD4;	
}

#pinkPixel{
    position: absolute;
    width: 30px;
    height: 30px;
    background: #FF1493;
}

#banana {
	position: absolute;
    width: 30px;
    height: 30px;
    background: blue;
}
