* {
    margin: 0;
    padding: 0;
}


#playArea {
	
    margin-top: 10px;
    margin-left: 10px;
    width: 820px;
    height: 520px;
    background: #7FFFD4;	
}

#pixi {
    position: absolute;
    width: 30px;
    height: 30px;
    background: #FF1493;
}

#banana {
	position: absolute;
	margin-top: 0px;
    margin-left: 0px;
    position: absolute;
    width: 30px;
    height: 30px;
    background: blue;
}
